{% extends "base.html" %}

{% block title %}Model Builder Demo{% endblock %}

{% block extra_headers %}
	

	<script type="text/javascript">
	$(document).ready(function() {

	$global_fieldnames = ['salary', 'housing', 'utilities', 'tv/internet', 'phone', 'gym', 'food', 'social/entertainment', 'other', 'student loans', 'credit cards', 'other debt', 'checking','savings','investment'];


	$('.delete_item').live('click', function(){
		$name = $(this).next().html().toLowerCase();
		//alert($name);
		$(this).closest('.input_item').remove();
		$global_fieldnames.splice($global_fieldnames.indexOf($name), 1);
		//alert($global_fieldnames);		
	});
	$('.delete_account').live('click', function(){
		$(this).closest('.account').remove();
	});
	$('.new_field').live('click', function(){
		while (true) {
			$fieldname = prompt('Enter Item Name');
			if ($fieldname != null && $fieldname != '') {
				//alert($global_fieldnames.indexOf($fieldname));
				if($global_fieldnames.indexOf($fieldname.toLowerCase()) == -1) {
					$prefix = $(this).attr('id').slice(-2);

					$content = '<div class="input_item"><a class="btn btn-danger delete_item" title="Delete This Item" style="margin-right: 17px;"><i class="icon-remove"></i></a><label>'+$fieldname+'</label>$<input type="text" name="'+$prefix+'_'+$fieldname+'"> per month</div>';

					$(this).before($content);

					$global_fieldnames.push($fieldname.toLowerCase());
					//alert($global_fieldnames);
					break;
				}
				else {
					alert('You already have an item with the name \"'+$fieldname+'\".\r\nPlease use a new, unique name.');
				}
			}
			else {
				break;
			}	
		}
	});

	$('.new_debt_account').live('click', function(){
		$fieldname = prompt('Enter Account Name');
		if ($fieldname != null && $fieldname != '') {

			$content = '<div class="debt_account account"><a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a><h5 class="form_account_label">'+$fieldname+'</h5><div class="input_item"><label>Current Payment</label>$<input type="text" name="de_'+$fieldname+'"> per month</div><div class="input_item"><label>Current Balance</label>$<input type="text" name="ba_'+$fieldname+'_Balance"></div><div class="input_item"><label>APR</label>%<input type="text" name="ra_'+$fieldname+'"></div></div>';

			$(this).before($content);
		}
	});

	$('.new_cash_account').live('click', function(){
		$fieldname = prompt('Enter Account Name');
		if ($fieldname != null && $fieldname != '') {

			$content = '<div class="cash_account account"><a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a><h5 style="text-decoration: underline; display: inline-block">'+$fieldname+'</h5><div class="input_item"><label>Current Balance</label>$<input type="text" name="cb_'+$fieldname+'_Balance"></div><div class="input_item"><label>Expected Rate of Return</label>%<input type="text" name="ra_'+$fieldname+'"></div></div>';

			$(this).before($content);
		}
	});




	});

	function validateForm() {
		var form_items = document.forms["input"].elements;
		//alert(form_items);
		//for (field in form_items.slice(0,-1)) {
		for (var i=0; i<form_items.length - 1; i++) {
			//var fieldname = form[field].name.substring(3);
			var fieldname = form_items[i].name.substring(3);
			//alert(fieldname);
			var fieldvalue = form_items[i].value.replace(/,/g, '');

			
			if (fieldvalue == null || fieldvalue == '') {
				continue;
			}

			fieldvalue_int = parseFloat(fieldvalue);
			if (isNaN(fieldvalue_int)) {
				alert(fieldname+" input must be a number");
				return false;
			}
			if (fieldvalue_int < 0) {
				alert(fieldname+" field cannot be negative");
				return false;
			}

		} 

	}

	</script>
{% endblock %}

{% block main %}
<div class="form_side_divider"></div>
	<div class="form_container">
		
		<div style="height:50px;"></div>
		<div class="form_first_divider"></div>
		<div class="form_second_divider"></div>
		<!--
		<div class="form_circle_group">
			<div class="form_circle form_circle_selected" title="Income"><h1>1</h1></div>
			<div class="form_circle" title="Expenses"><h1>2</h1></div>
			<div class="form_circle" title="Cash and Investment Accounts"><h1>3</h1></div>
			<div class="form_circle" title="Debt Accounts"><h1>4</h1></div>
		</div>
		
		<div class="form_section_links">
			<div class="form_section_link form_section_link_selected">1) Income and Expenses</div>
			<i class="icon-arrow-right" style="margin:0 20px;"></i>
			<div class="form_section_link">2) Accounts</div>
		</div>
		-->

		
	
		<div class="form_body">
			<form name="input" action="{{ url_for('submit_demo2')}}" onsubmit="return validateForm()" method="post">
				<div id="form_sec_1">
					<h2 class="form_heading">Income and Expenses</h2>
					<div class="form_section">
						<h3 class="form_section_header">1. Income:</h3>
						<h4 class="form_section_subheader">After tax and other deductions</h4>
						

						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>Salary</label>
							$<input type="text" name="in_Salary"> per month
						</div>

						<a id="new_in" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Income Source</a>

					</div>

					<div class="form_section_divider"></div>

					<div class="form_section">
						<h3 class="form_section_header">2. Basic Expenses:</h3>
						<h4 class="form_section_subheader">Not including debt payments</h4>


						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>Housing</label>
							$<input type="text" name="be_Housing"> per month
						</div>
						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>Utilities</label>
							$<input type="text" name="be_Utilities"> per month
						</div>
						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>TV/Internet</label>
							$<input type="text" name="be_Cable"> per month
						</div>
						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>Phone</label>
							$<input type="text" name="be_Phone"> per month
						</div>
						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>Gym</label>
							$<input type="text" name="be_Gym"> per month
						</div>
						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>Food</label>
							$<input type="text" name="be_Food"> per month
						</div>
					
						<a id="new_be" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Basic Expense</a>
					
					</div>

					<div class="form_section_divider"></div>

					<div class="form_section">
						<h3 class="form_section_header">3. Misc Expenses:</h3>
						<h4 class="form_section_subheader">Not including debt payments</h4>

						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>Social/Entertainment</label>
							$<input type="text" name="me_Social"> per month
						</div>
						<div class="input_item">
							<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
							<label>Other</label>
							$<input type="text" name="me_Other"> per month
						</div>
						
						<a id="new_me" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Misc Expense</a>

					</div>
				</div>
				<div id="form_sec_2">
					<h2 class="form_heading">Accounts</h2>
					<div class="form_section">
						<h3 class="form_section_header">4. Debt Accounts:</h3>
						<h4 class="form_section_subheader">&nbsp;</h4>
						

						<div class="debt_account account">
							<a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
							<h5 class="form_account_label">Student Loans</h5>
							<div class="input_item">
								<label>Current Payment</label>
								$<input type="text" name="de_Student"> per month
							</div>
							<div class="input_item">
								<label>Current Balance</label>
								$<input type="text" name="ba_Student_Balance">
							</div>
							<div class="input_item">
								<label>APR</label>
								%<input type="text" name="ra_Student">
							</div>
						</div>
						<div class="debt_account account">
							<a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
							<h5 class="form_account_label">Credit Cards</h5>
							<div class="input_item">
								<label>Current Payment</label>
								$<input type="text" name="de_CC"> per month
							</div>
							<div class="input_item">
								<label>Current Balance</label>
								$<input type="text" name="ba_CC_Balance">
							</div>
							<div class="input_item">
								<label>APR</label>
								%<input type="text" name="ra_CC">
							</div>
						</div>
						<div class="debt_account account">
							<a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
							<h5 class="form_account_label">Other Debt</h5>
							<div class="input_item">
								<label>Current Payment</label>
								$<input type="text" name="de_Other"> per month
							</div>
							<div class="input_item">
								<label>Current Balance</label>
								$<input type="text" name="ba_Other_Balance">
							</div>
							<div class="input_item">
								<label>APR</label>
								%<input type="text" name="ra_Other">
							</div>
						</div>

						<a id="new_da" class="btn btn-info new_debt_account"><i class="icon-plus"></i>Add New Debt Account</a>
					</div>

					<div class="form_section_divider"></div>

					<div class="form_section">
						<h3 class="form_section_header">5. Banking and Investment Accounts:</h3>
						<h4 class="form_section_subheader">&nbsp;</h4>

						<div class="cash_account account">
							<h5 class="form_account_label" style="margin-left:34px;">Checking</h5>
							<div class="input_item">
								<label>Current Balance</label>
								$<input type="text" name="cb_Checking_Balance">
							</div>
							<div class="input_item">
								<label>Expected Rate of Return</label>
								%<input type="text" name="ra_Checking">
							</div>
						</div>

						<div class="cash_account account">
							<a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
							<h5 class="form_account_label">Savings</h5>
							<div class="input_item">
								<label>Current Balance</label>
								$<input type="text" name="cb_Savings_Balance">
							</div>
							<div class="input_item">
								<label>Expected Rate of Return</label>
								%<input type="text" name="ra_Savings">
							</div>
						</div>

						<div class="cash_account account">
							<a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
							<h5 style="text-decoration: underline; display: inline-block">Investment</h5>
							<div class="input_item">
								<label>Current Balance</label>
								$<input type="text" name="cb_Investment_Balance">
							</div>
							<div class="input_item">
								<label>Expected Rate of Return</label>
								%<input type="text" name="ra_Investment">
							</div>
						</div>

						<a id="new_ca" class="btn btn-info new_cash_account"><i class="icon-plus"></i>Add New Banking/Investment Account</a>

						
					</div>
				</div>


				<br>
				<br>



				<input class="btn btn-info" type="submit" value="Save Data" style="font-size:16pt;margin-top:20px;">
			</form>
		</div>
	</div>
{% endblock %}
