{% extends "base.html" %}

{% block title %}Model Builder Demo{% endblock %}

{% block extra_headers %}
<script src="/static/underscore-min.js"></script>
<script src="/static/backbone-min.js"></script>

<!-- MODELS -->
<script type="text/javascript">
var Case = Backbone.Model.extend({
	defaults : {
		name : 'Base Case',
		income_items : {'Salary':''},
		basic_expenses : {'Housing':'','Utilities':'','TV/Internet':'','Phone':'','Gym':'','Food':''},
		misc_expenses : {'Social/Entertainment':'','Other':''},
		debt_accounts : {'Student':{'payment':'','balance':'','rate':''},'Credit Card':{'payment':'','balance':'','rate':''}},
		cash_accounts : {'Checking':{'balance':'','rate':''},'Savings':{'balance':'','rate':''},'Investment':{'balance':'','rate':''}},
		isBaseCase: false,
		data : null //this is where the full model output is stored
	},
	urlRoot: '/case'
});
var CaseCollection = Backbone.Collection.extend({
    model: Case,
	urlRoot: '/case'
});
</script>




<!-- TEMPLATES -->
<script type="text/template" id="chart_1_net_worth_template">
	<select id="chart_1_menu">
		<option value="net_worth" selected>Net Worth</option>
		<option value="net_income">Net Income</option>
	</select>
	<div>
		<table>
			<thead>
				<th>&nbsp;</th>
				<th>6 mon</th>
				<th>1 yr</th>
				<th>2 yr</th>
				<th>5 yr</th>
				<th>10 yr</th>
			</thead>
			<tbody>
				{% for scenario in s %}
				<tr>
					<td class="table_y_axis">{{scenario['name']}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][6])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][12])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][24])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][60])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][120])}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</script>

<script type="text/template" id="chart_1_net_income_template">
	<select id="chart_1_menu">
		<option value="net_worth">Net Worth</option>
		<option value="net_income" selected>Net Income</option>
	</select>
	<div>
		<table>
			<thead>
				<th>&nbsp;</th>
				<th>6 mon</th>
				<th>1 yr</th>
				<th>2 yr</th>
				<th>5 yr</th>
				<th>10 yr</th>
			</thead>
			<tbody>
				{% for scenario in s %}
				<tr>
					<td class="table_y_axis">{{scenario['name']}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][6])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][12])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][24])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][60])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][120])}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</script>

<script type="text/template" id="parent_input_template">
	<div class="form_side_divider"></div>
	<div class="form_container">
		<div style="height:50px;"></div>
		<div class="form_first_divider"></div>
		<div class="form_second_divider"></div>

		<div class="form_body">
			<h2 class="form_heading">Income and Expenses</h2>

			<div id="case_tags">
				<div class="case_tag" id="case0_tag"><h4>Base Case</h4></div>
				<div class="dropdown" style="display:inline-block; margin-left: 20px;">
					<a class="dropdown-toggle" data-toggle="dropdown" href=""><h4>Add Scenario</h4></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario">New Custom Scenario</a></li>
					   	<li class="divider" role="presentation"></li>
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario1">20% reduction in housing expense</a></li>
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario2">10% raise</a></li>
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario3">$40k inheritance received, invested at 5%</a></li>
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario4">100% of Debt Forgiven</a></li>
					</ul>
				</div>
			</div>

			<div class="form_section_divider" style="margin:0;"></div>

			<div id="case0" style="width:330px; border-right:2px solid black; float:left;"></div>
			<div id="case_target" style="display:none;"></div>

			<a id="save_input_data" class="btn btn-info" style="font-size:16pt;margin-top:20px; float:left; clear:both;">Save Data</a>
		</div>
	</div>
</script>

<script type="text/template" id="base_case_template">
	<input type="name" name="na_0" style="display:none;" value="Base Case">

	<div class="form_section">
		<h3 class="form_section_header">1. Income:</h3>
		<h4 class="form_section_subheader">After tax and other deductions</h4>

		<% _.each(_.keys(income_items), function(key){ %>
			<div class="input_item input_type1">
				<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
				<label><%=key%></label>
				$<input type="text" name="in_<%=key%>_0" value="<%=income_items[key]%>">
			</div>
		<% });%>

		<a id="new_in" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Income Source</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">2. Basic Expenses:</h3>
		<h4 class="form_section_subheader">Not including debt payments</h4>

		<% _.each(_.keys(basic_expenses), function(key){ %>
			<div class="input_item input_type1">
				<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
				<label><%=key%></label>
				$<input type="text" name="be_<%=key%>_0" value="<%=basic_expenses[key]%>">
			</div>
		<% });%>

		<a id="new_be" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Basic Expense</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">3. Misc Expenses:</h3>
		<h4 class="form_section_subheader">Not including debt payments</h4>

		<% _.each(_.keys(misc_expenses), function(key){ %>
			<div class="input_item input_type1">
				<a class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
				<label><%=key%></label>
				$<input type="text" name="me_<%=key%>_0" value="<%=misc_expenses[key]%>">
			</div>
		<% });%>


		<a id="new_me" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Misc Expense</a>
	</div>
	<h2 class="form_heading">Accounts</h2>
	<div class="form_section">
		<h3 class="form_section_header">4. Debt Accounts:</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(debt_accounts), function(key){ %>
			<div class="debt_account account">
				<a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
				<h5 class="form_account_label"><%=key%> Debt</h5>
				<div class="input_item input_type1">
					<label>Current Payment</label>
					$<input type="text" name="de_<%=key%>_0" value="<%=debt_accounts[key]['payment']%>"> 
				</div>
				<div class="input_item input_type1">
					<label>Current Balance</label>
					$<input type="text" name="ba_<%=key%>_0" value="<%=debt_accounts[key]['balance']%>">
				</div>
				<div class="input_item input_type1">
					<label>APR</label>
					%<input type="text" name="ra_<%=key%>_0" value="<%=debt_accounts[key]['rate']%>" class="input_percentage">
				</div>
			</div>
		<% });%>

		<a id="new_da" class="btn btn-info new_debt_account"><i class="icon-plus"></i>Add New Debt Account</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">5. Banking/Investment Accounts:</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(cash_accounts), function(key){ %>
			<div class="cash_account account">
			<% if(key == 'Checking') { %>
				<h5 class="form_account_label" style="margin-left:34px;"><%=key%></h5>
			<% }
			else{ %>
				<a class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
				<h5 class="form_account_label"><%=key%></h5>
			<% } %>
				<div class="input_item input_type1">
					<label>Current Balance</label>
					$<input type="text" name="cb_<%=key%>_0" value="<%=cash_accounts[key]['balance']%>">
				</div>
				<div class="input_item input_type1">
					<label>Expected Return</label>
					%<input type="text" name="er_<%=key%>_0" value="<%=cash_accounts[key]['rate']%>" class="input_percentage">
				</div>
			</div>
			
		<% });%>

		<a id="new_ca" class="btn btn-info new_cash_account"><i class="icon-plus"></i>Add New Banking/Investment Account</a>
	</div>		
</script>

<script type="text/template" id="other_case_template">
	<div id="case<%=caseNumber%>" class="scenario_column">
	<input type="name" name="na_<%=caseNumber%>" style="display:none;" value="<%=name%>">

	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(income_items), function(key){ %>
			<div class="input_item input_type2">
				$<input type="text" name="in_<%=key%>_<%=caseNumber%>" value="<%=income_items[key]%>">
			</div>
		<% });%>

		<a id="new_in" class="btn btn-info new_field" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(basic_expenses), function(key){ %>
			<div class="input_item input_type2">
				$<input type="text" name="be_<%=key%>_<%=caseNumber%>" value="<%=basic_expenses[key]%>">
			</div>
		<% });%>

		<a id="new_be" class="btn btn-info new_field" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(misc_expenses), function(key){ %>
			<div class="input_item input_type2">
				$<input type="text" name="me_<%=key%>_<%=caseNumber%>" value="<%=misc_expenses[key]%>">
			</div>
		<% });%>


		<a id="new_me" class="btn btn-info new_field" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	<h2 class="form_heading" style="background:none;">&nbsp;</h2>
	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(debt_accounts), function(key){ %>
			<div class="debt_account account">
				<h5 class="form_account_label" style="text-decoration:none;">&nbsp;</h5>
				<div class="input_item input_type2">
					$<input type="text" name="de_<%=key%>_<%=caseNumber%>" value="<%=debt_accounts[key]['payment']%>"> 
				</div>
				<div class="input_item input_type2">
					$<input type="text" name="ba_<%=key%>_<%=caseNumber%>" value="<%=debt_accounts[key]['balance']%>">
				</div>
				<div class="input_item input_type2">
					%<input type="text" name="ra_<%=key%>_<%=caseNumber%>" value="<%=debt_accounts[key]['rate']%>" class="input_percentage">
				</div>
			</div>
		<% });%>

		<a id="new_da" class="btn btn-info new_debt_account" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(cash_accounts), function(key){ %>
			<div class="cash_account account">
				<h5 class="form_account_label" style="text-decoration:none;">&nbsp;</h5>
				<div class="input_item input_type2">
					$<input type="text" name="cb_<%=key%>_<%=caseNumber%>" value="<%=cash_accounts[key]['balance']%>">
				</div>
				<div class="input_item input_type2">
					%<input type="text" name="er_<%=key%>_<%=caseNumber%>" value="<%=cash_accounts[key]['rate']%>" class="input_percentage">
				</div>
			</div>
			
		<% });%>

		<a id="new_ca" class="btn btn-info new_cash_account" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	</div>
</script>

<script type="text/template" id="case_tag_template">
	<div class="case_tag" id="case<%=caseNumber%>_tag"><h4><%=name%></h4></div>
</script>

<!-- VIEWS -->
<script type="text/javascript">
var ParentView = Backbone.View.extend({
	otherCaseViews: [],
	initialize: function(){
		this.render();
    	this.baseCaseView = new CaseView({ el: $("#case0"), isBaseCase:true, model: new Case() });
    	this.baseCaseView.parentView = this;
    	//this.otherCaseView = new CaseView({ el: $("#case_target"), isBaseCase:false, model: new Case({name:'Case 2'}) });
    	//this.otherCaseView.parentView = this;
    },
    render: function(){
    	var template = _.template( $("#parent_input_template").html());
    	this.$el.html( template );
    },
    events: {
        "click #save_input_data": "update"
    },
    update: function(){
    	//var form = $(this.el).find('#form_body');
    	$income_items = {'income_items':{}};
		$basic_expenses = {'basic_expenses':{}};
		$misc_expenses = {'misc_expenses':{}};
		$debt_accounts = {'debt_accounts':{}};
		$cash_accounts = {'cash_accounts':{}};
		$de_items = [];
		$ba_items = [];
		$ra_items = [];
		$cb_items = [];
		$er_items = [];
		$this_name = '';
		var data = {};
		$('#case0 input').each(function() {
			$raw_name0 = $(this).attr('name')
			$raw_name = $raw_name0.substring(0, $raw_name0.length - 2);
			$prefix = $raw_name.substring(0,2);
			$name = $raw_name.substring(3, $raw_name.length);
			$value = $(this).val();
			if($value == '') {$value = 0;}
			if($prefix == 'in') {
				$income_items['income_items'][$name] = $value;
			}
			else if($prefix == 'be') {
				$basic_expenses['basic_expenses'][$name] = $value;
			}
			else if($prefix == 'me') {
				$misc_expenses['misc_expenses'][$name] = $value;
			}
			else if($prefix == 'de') {
				$de_items.push([$name,$value]);
			}
			else if($prefix == 'ba') { //debt balances
				$ba_items.push([$name,$value]);
			}
			else if($prefix == 'ra') { //debt rates
				$ra_items.push([$name,$value]);
			}
			else if($prefix == 'cb') { //cash balances
				$cb_items.push([$name,$value]);
			}
			else if($prefix == 'er') { //expected returns
				$er_items.push([$name,$value]);
			}
			else if($prefix == 'na') {
				$this_name = $value;
			}
		});
		for (i=0;i<$de_items.length;i++) {
			var account_name = $de_items[i][0]
			$debt_accounts['debt_accounts'][account_name] = {'payment':$de_items[i][1],'balance':$ba_items[i][1],'rate':$ra_items[i][1]};
		}
		for (i=0;i<$cb_items.length;i++) {
			var account_name = $cb_items[i][0]
			$cash_accounts['cash_accounts'][account_name] = {'balance':$cb_items[i][1],'rate':$er_items[i][1]};
		}
		var data = $.extend({},$this_name,$income_items,$basic_expenses,$misc_expenses,$debt_accounts,$cash_accounts);
		console.log($this_name);
		console.log(data);

        
        this.baseCaseView.model.save({
    		name : $this_name,
	    	income_items: $income_items,
	    	basic_expenses: $basic_expenses,
	    	misc_expenses: $misc_expenses,
	    	debt_accounts: $debt_accounts,
	    	cash_accounts: $cash_accounts
    	},
    	{
    		wait:true,
        	success: function(baseCaseModel){
        		//alert('yep');
        		//console.log(model);
        		//console.log(model.get('id'));
        		//console.log(model.get('data'));
        		console.log('success');
        	},
			error: function(){
			    console.log('error');
			}

        });
	    
	    return false;
    }
})


var CaseView = Backbone.View.extend({
	caseTagsViews: [],
	caseNumber : 0,
    initialize: function(){
    	this.isBaseCase = this.options.isBaseCase;
    	if (this.isBaseCase == false) {
    		$global_case_count += 1;
    		this.caseNumber = $global_case_count;
    	}
    	this.income_items = this.model.get('income_items');
    	this.name = this.model.get('name');
		this.income_items = this.model.get('income_items');
		this.basic_expenses = this.model.get('basic_expenses');
		this.misc_expenses = this.model.get('misc_expenses');
		this.debt_accounts = this.model.get('debt_accounts');
		this.cash_accounts = this.model.get('cash_accounts');
		this.data = this.model.get('data');
        this.render();
    },
    render: function(){
    	var context = {caseNumber:this.caseNumber,
    				name:this.name,
	        		income_items:this.income_items,
	        		basic_expenses:this.basic_expenses,
	        		misc_expenses:this.misc_expenses,
	        		debt_accounts:this.debt_accounts,
	        		cash_accounts:this.cash_accounts};
    	if (this.isBaseCase) {
        	var template = _.template( $("#base_case_template").html(), context );
        	this.$el.html( template );
        } else {
        	var template = _.template( $("#other_case_template").html(), context );
        	this.$el.before( template );
        	this.caseTagsViews.push(new CaseTagsView({name:this.name,caseNumber:this.caseNumber}));
        }
    }
});

var CaseTagsView = Backbone.View.extend({
	initialize: function(){
		this.name = this.options.name;
		this.caseNumber = this.options.caseNumber;
		this.render();
	},
    render: function(){
    	var template = _.template( $("#case_tag_template").html(), {name:this.name,caseNumber:this.caseNumber} );
        //this.$el.before( template );
        $('.dropdown').before(template);
    }
});


var NewChart1NetWorthView = Backbone.View.extend({
    initialize: function(){
        this.render();
    },
    render: function(){
        var template = _.template( $("#chart_1_net_worth_template").html(), {} );
        this.$el.html( template );
    },
    events: {
        "change #chart_1_menu": "go"
    },
    go: function( event ){
    	var value = event.currentTarget.value;
        if(value === 'net_worth') {
        	var template = _.template( $("#chart_1_net_worth_template").html() );
        }
        else if(value === 'net_income'){
        	var template = _.template( $("#chart_1_net_income_template").html() );
        }
        $("#output_grid1").html( template );
    }
});
</script>


<script type="text/javascript">
$(document).ready(function() {
	$global_case_count = 0;
	$global_fieldnames = []

	var baseCase = new Case({ 
		name : "Test Case"
	});
	$('#save_data').live('click', function(){
		baseCase.save();
		//alert(baseCase.get('name'));
		console.log(baseCase.get('data'));
	});
	$('#get_data').live('click', function(){
		var newcase = new Case({id: 5});
		newcase.fetch();
	    alert(newcase.get('id'));
	    alert(newcase.get('name'));
		alert(newcase.get('income'));
		alert(newcase.get('expenses'));
	});
	$('#delete_data').live('click', function(){
		var deleteme = new Case({ // attributes passed to the Case constructor will override the defaults
			id: 9,
			name : "Delete Case"
		});
		deleteme.destroy();
	});


	//var baseCaseView = new BaseCaseView({ el: $("#input_container"), model: new Case() });
	var parentView = new ParentView({el:$("#input")});
	$('#back_to_output').live('click',function(){
		$('#input').addClass('hidden');
		$('#output').removeClass('hidden');
		$(this).addClass('hidden');
		$('#back_to_input').removeClass('hidden');
	});
	$('#back_to_input').live('click',function(){
		$('#output').addClass('hidden');
		$('#input').removeClass('hidden');
		$(this).addClass('hidden');
		$('#back_to_output').removeClass('hidden');
	});


	$('#new_scenario').live('click', function(){
		$case_name = prompt('Enter new scenario name: ');
		var new_case = new CaseView({ el: $("#case_target"), isBaseCase:false, model: new Case({name:$case_name}) });
		parentView.otherCaseViews.push(new_case);
		$('.dropdown-toggle').click();
    	return false;
	});
});
</script>

{% endblock %}

{% block main %}

<!--
	<div style="margin-bottom: 40px;"><a class="btn btn-info" id="show_output">Show Output</a></div>
	input
	<div style="margin-bottom: 40px;"><a class="btn btn-info" id="save_data">Save Data</a></div> 
	<div style="margin-bottom: 40px;"><a class="btn btn-info" id="get_data">Get Data</a></div>
	<div style="margin-bottom: 40px;"><a class="btn btn-info" id="delete_data">Delete Data</a></div>
-->

<div id="input">
	
</div>

<div id="output" class="hidden">
	<div class="form_container">
		<div style="margin-bottom: 40px;"><a class="btn btn-info" id="show_output">Show Input</a></div>
		output
	</div>
</div>


{% endblock %}