{% extends "base.html" %}

{% block title %}Model Builder Demo{% endblock %}

{% block extra_headers %}
<script src="/static/Chart.min.js"></script>

<script src="/static/underscore-min.js"></script>
<script src="/static/backbone-min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	Number.prototype.formatMoney = function(c, d, t){
	var n = this, c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" : "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
	   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	 };

	

	$('#tabs a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})



});
</script>

<script type="text/template" id="chart_1_net_worth_template">
	<select id="chart_1_menu">
		<option value="net_worth" selected>Net Worth</option>
		<option value="net_income">Net Income</option>
	</select>
	<div>
		<table>
			<thead>
				<th>&nbsp;</th>
				<th>6 mon</th>
				<th>1 yr</th>
				<th>2 yr</th>
				<th>5 yr</th>
				<th>10 yr</th>
			</thead>
			<tbody>
				{% for scenario in s %}
				<tr>
					<td class="table_y_axis">{{scenario['name']}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][6])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][12])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][24])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][60])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_worth'][120])}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</script>

<script type="text/template" id="chart_1_net_income_template">
	<select id="chart_1_menu">
		<option value="net_worth">Net Worth</option>
		<option value="net_income" selected>Net Income</option>
	</select>
	<div>
		<table>
			<thead>
				<th>&nbsp;</th>
				<th>6 mon</th>
				<th>1 yr</th>
				<th>2 yr</th>
				<th>5 yr</th>
				<th>10 yr</th>
			</thead>
			<tbody>
				{% for scenario in s %}
				<tr>
					<td class="table_y_axis">{{scenario['name']}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][6])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][12])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][24])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][60])}}</td>
					<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][120])}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</script>


<script type="text/javascript">
	Case = Backbone.Model.extend({
        initialize: function(){
            
        }
    });


	NewChart1NetWorthView = Backbone.View.extend({
        initialize: function(){
            this.render();
        },
        render: function(){
            var template = _.template( $("#chart_1_net_worth_template").html(), {} );
            this.$el.html( template );
        },
        events: {
            "change #chart_1_menu": "go"
        },
        go: function( event ){
        	var value = event.currentTarget.value;
            if(value === 'net_worth') {
            	var template = _.template( $("#chart_1_net_worth_template").html() );
            }
            else if(value === 'net_income'){
            	var template = _.template( $("#chart_1_net_income_template").html() );
            }
            $("#output_grid1").html( template );
        }
    });

	/*
    NewChart1NetIncomeView = Backbone.View.extend({
        initialize: function(){
            //this.render();
        },
        /*
        render: function(){
            var template = _.template( $("#chart_1_net_income_template").html(), {} );
            this.$el.html( template );
        },
        
        events: {
            "change #chart_1_menu": "go"
        },
        go: function( event ){
            var template = _.template( $("#chart_1_net_income_template").html() );
            $("#output_grid1").html( template );
        }
    });
	*/

    $(document).ready(function() {
		var newchart1networthview = new NewChart1NetWorthView({ el: $("#output_grid1") });
		//var newchart1netincomeview = new NewChart1NetIncomeView({ el: $("#output_grid1") });
	});

	/*
	DebtScenarioView = Backbone.View.extend({
		el: $("#debt_scenarios"),
		events: {
			"click #new_debt_scenario": "showPrompt",
		},
		showPrompt: function() {
			var amnt = prompt("How much would you like to pay?");
		}
	});
	*/
	
</script>

<script type="text/javascript">
$(document).ready(function() {
	var ctx = $("#chart1").get(0).getContext("2d");

	var Chart1_data = {
		//labels : ["Today","Jun","Jul","Aug","Sep","Oct","Nov","Dec","Jan","Feb","Mar","Apr","May"],
		labels: {{Chart1_labels}},
		datasets : [
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				data : {{Chart1_data_pts[0]}}
			},
			{
				/*
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,1)",
				pointColor : "rgba(220,220,220,1)",
				*/
				fillColor : "rgba(153,230,153, 0.5)",
				strokeColor : "rgba(153,230,153,1)",
				pointColor : "rgba(153,230,153,1)",
				pointStrokeColor : "#fff",
				data : {{Chart1_data_pts[1]}}
			}
		]
	};

	new Chart(ctx).Line(Chart1_data,{bezierCurve : false});


	var q = {{s|tojson|safe}}

	$('#test').live('click', function(){
		$content = q[0]['name'];
		$('#test_target').html($content);
	});

});

</script>

{% endblock %}

{% block main %}

	<div class="content_box">
		
		<div style="margin-bottom: 40px;"><a class="btn btn-info" href="{{url_for('demo3')}}"><i class="icon-arrow-left" style="margin-right:10px;"></i>Back to Input Screen</a></div>

		<div id="output_grid1">
			
		</div>

		<div id="output_chart1">
			<canvas id="chart1" width="800" height="400"></canvas>
			<div class="chart_legend">
				<div class="legend_item" style="display:inline-block;">
					<div style="width:20px;height:20px;display:inline-block;background:rgba(151,187,205,1)">&nbsp;</div>
					<div style="font-weight:bold;display:inline-block;">{{s[0]['name']}}</div>
				</div>
				<div class="legend_item" style="display:inline-block;">
					<div style="width:20px;height:20px;display:inline-block;background:rgba(153,230,153,0.5);">&nbsp;</div>
					<div style="font-weight:bold;display:inline-block;">{{s[1]['name']}}</div>
				</div>
			</div>
		</div>


		<div id="output_grid2" style="margin-top:60px;">
			<div><strong>1 Year</strong></div>
			<div>
				<table>
					<thead>
						<th>&nbsp;</th>
						<th>Net Worth</th>
						<th>Assets</th>
						<th>Debts</th>
						<th>&nbsp;</th>
						<th>Net Income</th>
						<th>Income</th>
						<th>Expenses</th>
					</thead>
					<tbody>
						{% for scenario in s %}
						<tr>
							<td class="table_y_axis">{{scenario['name']}}</td>
							<td>{{'{:20,.0f}'.format(scenario['net_worth'][12])}}</td>
							<td>{{'{:20,.0f}'.format(scenario['cash_accounts']['total'][12])}}</td>
							<td>{{'{:20,.0f}'.format(scenario['debt_accounts']['total_debt'][12])}}</td>
							<td>&nbsp;</td>
							<td>{{'{:20,.0f}'.format(scenario['net_income_raw'][12])}}</td>
							<td>{{'{:20,.0f}'.format(scenario['income']['total'][12])}}</td>
							<td>{{'{:20,.0f}'.format(scenario['expenses']['total'][12])}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	</div>

	

{% endblock %}