{% extends "base.html" %}

{% block title %}5cast{% endblock %}

{% block extra_headers %}
<script src="/static/underscore-min.js"></script>
<script src="/static/backbone-min.js"></script>
<script src="/static/deep-model.min.js"></script>
<script src="/static/Chart.min.js"></script>

<!-- MODELS -->
<script type="text/javascript">
var Case = Backbone.Model.extend({
	defaults : {
		name : 'Base Case',
		income_items : {'Salary':''},
		basic_expenses : {'Housing':'','Utilities':'','TV/Internet':'','Phone':'','Gym':'','Food':''},
		misc_expenses : {'Social/Entertainment':'','Other':''},
		debt_accounts : {'Student':{'payment':'','balance':'','rate':''},'Credit Card':{'payment':'','balance':'','rate':''}},
		cash_accounts : {'Checking':{'balance':'','rate':''},'Savings':{'balance':'','rate':''},'Investment':{'balance':'','rate':''}},
		isBaseCase: false,
		data : null //this is where the full model output is stored
	},
	urlRoot: '/case'
});


var CaseCollection = Backbone.Collection.extend({
    model: Case,
	urlRoot: '/case'
});
</script>




<!-- TEMPLATES -->
<script type="text/template" id="parent_input_template">
	<div class="form_side_divider"></div>
	<div class="form_container">
		<div style="height:50px;"></div>
		<div class="form_first_divider"></div>
		<div class="form_second_divider"></div>

		<div class="form_body">
			<h2 class="form_heading">Income and Expenses</h2>

			<div id="case_tags">
				<div class="case_tag" id="case0_tag"><h4>Base Case</h4></div>
				<div class="dropdown" style="display:inline-block; margin-left: 20px;">
					<a class="dropdown-toggle" data-toggle="dropdown" href=""><h4>Add Scenario</h4></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario">New Custom Scenario</a></li>
					   	<li class="divider" role="presentation"></li>
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario1">20% reduction in housing expense</a></li>
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario2">10% raise</a></li>
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario3">$40k inheritance received, invested at 5%</a></li>
					   	<li role="presentation"><a href="#" role="menuitem" id="new_scenario4">100% of Debt Forgiven</a></li>
					</ul>
				</div>
			</div>

			<div class="form_section_divider" style="margin:0;"></div>

			<div id="case0" style="width:330px; border-right:2px solid black; float:left;"></div>
			<div id="case_target" style="display:none;"></div>

			<a id="save_input_data" class="btn btn-info" style="font-size:16pt;margin-top:20px; float:left; clear:both;">Save Data</a>
		</div>
	</div>
</script>

<script type="text/template" id="base_case_template">
	<input type="name" name="na_0" style="display:none;" value="Base Case">

	<div class="form_section">
		<h3 class="form_section_header">1. Income:</h3>
		<h4 class="form_section_subheader">After tax and other deductions</h4>

		<% _.each(_.keys(income_items), function(key){ %>
			<div class="input_item input_type1">
				<a id="delete_in" class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
				<label><%=key%></label>
				$<input type="text" name="in_<%=key%>_0" value="<%=income_items[key]%>">
			</div>
		<% });%>

		<a id="new_in" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Income Source</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">2. Basic Expenses:</h3>
		<h4 class="form_section_subheader">Not including debt payments</h4>

		<% _.each(_.keys(basic_expenses), function(key){ %>
			<div class="input_item input_type1">
				<a id="delete_be" class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
				<label><%=key%></label>
				$<input type="text" name="be_<%=key%>_0" value="<%=basic_expenses[key]%>">
			</div>
		<% });%>

		<a id="new_be" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Basic Expense</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">3. Misc Expenses:</h3>
		<h4 class="form_section_subheader">Not including debt payments</h4>

		<% _.each(_.keys(misc_expenses), function(key){ %>
			<div class="input_item input_type1">
				<a id="delete_me" class="btn btn-danger delete_item" title="Delete This Item"><i class="icon-remove"></i></a>
				<label><%=key%></label>
				$<input type="text" name="me_<%=key%>_0" value="<%=misc_expenses[key]%>">
			</div>
		<% });%>


		<a id="new_me" class="btn btn-info new_field"><i class="icon-plus"></i>Add New Misc Expense</a>
	</div>
	<h2 class="form_heading">Accounts</h2>
	<div class="form_section">
		<h3 class="form_section_header">4. Debt Accounts:</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(debt_accounts), function(key){ %>
			<div class="debt_account account">
				<a id="delete_da" class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
				<h5 class="form_account_label"><%=key%></h5>
				<div class="input_item input_type1">
					<label>Current Payment</label>
					$<input type="text" name="de_<%=key%>_0" value="<%=debt_accounts[key]['payment']%>"> 
				</div>
				<div class="input_item input_type1">
					<label>Current Balance</label>
					$<input type="text" name="ba_<%=key%>_0" value="<%=debt_accounts[key]['balance']%>">
				</div>
				<div class="input_item input_type1">
					<label>APR</label>
					%<input type="text" name="ra_<%=key%>_0" value="<%=debt_accounts[key]['rate']%>" class="input_percentage">
				</div>
			</div>
		<% });%>

		<a id="new_da" class="btn btn-info new_debt_account"><i class="icon-plus"></i>Add New Debt Account</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">5. Banking/Investment Accounts:</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(cash_accounts), function(key){ %>
			<div class="cash_account account">
			<% if(key == 'Checking') { %>
				<h5 class="form_account_label" style="margin-left:34px;"><%=key%></h5>
			<% }
			else{ %>
				<a id="delete_ca" class="btn btn-danger delete_account" title="Delete This Account"><i class="icon-remove"></i></a>
				<h5 class="form_account_label"><%=key%></h5>
			<% } %>
				<div class="input_item input_type1">
					<label>Current Balance</label>
					$<input type="text" name="cb_<%=key%>_0" value="<%=cash_accounts[key]['balance']%>">
				</div>
				<div class="input_item input_type1">
					<label>Expected Return</label>
					%<input type="text" name="er_<%=key%>_0" value="<%=cash_accounts[key]['rate']%>" class="input_percentage">
				</div>
			</div>
			
		<% });%>

		<a id="new_ca" class="btn btn-info new_cash_account"><i class="icon-plus"></i>Add New Banking/Investment Account</a>
	</div>		
</script>

<script type="text/template" id="other_case_template">
	<div id="case<%=caseNumber%>" class="scenario_column">
	<input type="name" name="na_<%=caseNumber%>" style="display:none;" value="<%=name%>">

	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(income_items), function(key){ %>
			<div class="input_item input_type2">
				$<input type="text" name="in_<%=key%>_<%=caseNumber%>" value="<%=income_items[key]%>">
			</div>
		<% });%>

		<a class="btn btn-info new_field" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(basic_expenses), function(key){ %>
			<div class="input_item input_type2">
				$<input type="text" name="be_<%=key%>_<%=caseNumber%>" value="<%=basic_expenses[key]%>">
			</div>
		<% });%>

		<a class="btn btn-info new_field" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(misc_expenses), function(key){ %>
			<div class="input_item input_type2">
				$<input type="text" name="me_<%=key%>_<%=caseNumber%>" value="<%=misc_expenses[key]%>">
			</div>
		<% });%>


		<a class="btn btn-info new_field" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	<h2 class="form_heading" style="background:none;">&nbsp;</h2>
	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(debt_accounts), function(key){ %>
			<div class="debt_account account">
				<h5 class="form_account_label" style="text-decoration:none;">&nbsp;</h5>
				<div class="input_item input_type2">
					$<input type="text" name="de_<%=key%>_<%=caseNumber%>" value="<%=debt_accounts[key]['payment']%>"> 
				</div>
				<div class="input_item input_type2">
					$<input type="text" name="ba_<%=key%>_<%=caseNumber%>" value="<%=debt_accounts[key]['balance']%>">
				</div>
				<div class="input_item input_type2">
					%<input type="text" name="ra_<%=key%>_<%=caseNumber%>" value="<%=debt_accounts[key]['rate']%>" class="input_percentage">
				</div>
			</div>
		<% });%>

		<a class="btn btn-info new_debt_account" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	<div class="form_section_divider"></div>
	<div class="form_section">
		<h3 class="form_section_header">&nbsp;</h3>
		<h4 class="form_section_subheader">&nbsp;</h4>

		<% _.each(_.keys(cash_accounts), function(key){ %>
			<div class="cash_account account">
				<h5 class="form_account_label" style="text-decoration:none;">&nbsp;</h5>
				<div class="input_item input_type2">
					$<input type="text" name="cb_<%=key%>_<%=caseNumber%>" value="<%=cash_accounts[key]['balance']%>">
				</div>
				<div class="input_item input_type2">
					%<input type="text" name="er_<%=key%>_<%=caseNumber%>" value="<%=cash_accounts[key]['rate']%>" class="input_percentage">
				</div>
			</div>
			
		<% });%>

		<a class="btn btn-info new_cash_account" style="visibility:hidden;"><i class="icon-plus"></i>&nbsp;</a>
	</div>
	</div>
</script>

<script type="text/template" id="table_1_template">
	<select id="table_1_menu">
		<option value="net_worth" <% if (value=='net_worth'){{'{'}}%> selected <%{{'}'}}%>  >Net Worth</option>
		<option value="net_income" <% if (value=='net_income'){{'{'}}%>selected<%{{'}'}}%>>Net Income</option>
	</select>
	<div>
		<table>
			<thead>
				<th>&nbsp;</th>
				<th>6 mon</th>
				<th>1 yr</th>
				<th>2 yr</th>
				<th>5 yr</th>
				<th>10 yr</th>
			</thead>
			<tbody>
				<% models.each(function(model){ %>
					<tr>
						<td class="table_y_axis"><%=model.get('name')%></td>
						<td><%=model.get('data')[value][6]%></td>
						<td><%=model.get('data')[value][12]%></td>
						<td><%=model.get('data')[value][24]%></td>
						<td><%=model.get('data')[value][60]%></td>
						<td><%=model.get('data')[value][120]%></td>
					</tr>
				<% });%>
			</tbody>
		</table>
	</div>
</script>

<script type="text/template" id="chart1_legend_template">
	<% for (i=0;i<names.length;i++){ %>
		<div class="legend_item" style="display:inline-block;">
		<div style="width:20px;height:20px;display:inline-block;background:<%=colors[i]%>">&nbsp;</div>
		<div style="font-weight:bold;display:inline-block;"><%=names[i]%></div>
	</div>
	<% }%>
</script>

<script type="text/template" id="case_tag_template">
	<div class="case_tag" id="case<%=caseNumber%>_tag"><h4><%=name%></h4><a class="btn btn-danger delete_case" data-id="<%=caseNumber%>" title="Delete This Scenario"><i class="icon-remove"></i></a></div>
</script>

<!-- VIEWS -->
<script type="text/javascript">
var ParentView = Backbone.View.extend({
	caseViews: {},
	initialize: function(){
		self = this;
		this.render();
		{% if data_exists %}
			var this_model = new Case({id:{{base_id}} });
			this_model.fetch({
				success: function(){
					self.caseViews[0] = new CaseView({ el: $("#case0"), parentView:self, isBaseCase:true, model: this_model });
					console.log(self.model);
					var table1view = new Table1View({el:$('#table1'), model: self.model});
					var chart1view = new Chart1View({el:$('#chart1_legend'), model: self.model});
				}
			});
		{% else %}
    		this.caseViews[0] = new CaseView({ el: $("#case0"), parentView:this, isBaseCase:true, model: new Case() });
    	{% endif %}
    	//console.log(this.caseViews);
    	//this.caseViews[0].parentView = this;
    	//this.otherCaseView = new CaseView({ el: $("#case_target"), isBaseCase:false, model: new Case({name:'Case 2'}) });
    	//this.otherCaseView.parentView = this;
    },
    render: function(){
    	var template = _.template( $("#parent_input_template").html());
    	this.$el.html( template );
    },
    events: {
        "click #save_input_data": "save_input_data"
    },
    save_input_data: function(callback){
    	/*
    	var case_numbers = [];
    	$('.case_tag').each(function (){
    		$case_number = $(this).attr('id').substring(4,5);
    		case_numbers.push($case_number);
    	});
		*/		
		//var last_loop = Object.keys(this.caseViews).length;



    	for (var case_number in this.caseViews) {
    		//console.log('case_number: '+case_number);
    	
    		/*
	    	$income_items = {'income_items':{}};
			$basic_expenses = {'basic_expenses':{}};
			$misc_expenses = {'misc_expenses':{}};
			$debt_accounts = {'debt_accounts':{}};
			$cash_accounts = {'cash_accounts':{}};
			*/
			$income_items = {};
			$basic_expenses = {};
			$misc_expenses = {};
			$debt_accounts = {};
			$cash_accounts = {};
			
			$de_items = [];
			$ba_items = [];
			$ra_items = [];
			$cb_items = [];
			$er_items = [];
			$this_name = '';
			var data = {};
			$('#case'+case_number+' input').each(function() {
				$raw_name0 = $(this).attr('name');
				//$case_number = $raw_name0.substring($raw_name0.length-1,$raw_name0.length);
				$raw_name = $raw_name0.substring(0, $raw_name0.length - case_number.length - 1);
				$prefix = $raw_name.substring(0,2);
				$name = $raw_name.substring(3, $raw_name.length);
				$value = $(this).val();
				if($value == '') {$value = 0;}
				if($prefix == 'in') {
					//$income_items['income_items'][$name] = $value;
					$income_items[$name] = $value;
				}
				else if($prefix == 'be') {
					//$basic_expenses['basic_expenses'][$name] = $value;
					$basic_expenses[$name] = $value;
				}
				else if($prefix == 'me') {
					//$misc_expenses['misc_expenses'][$name] = $value;
					$misc_expenses[$name] = $value;
				}
				else if($prefix == 'de') {
					$de_items.push([$name,$value]);
				}
				else if($prefix == 'ba') { //debt balances
					$ba_items.push([$name,$value]);
				}
				else if($prefix == 'ra') { //debt rates
					$ra_items.push([$name,$value]);
				}
				else if($prefix == 'cb') { //cash balances
					$cb_items.push([$name,$value]);
				}
				else if($prefix == 'er') { //expected returns
					$er_items.push([$name,$value]);
				}
				else if($prefix == 'na') {
					$this_name = $value;
				}
			});
			for (i=0;i<$de_items.length;i++) {
				var account_name = $de_items[i][0]
				//$debt_accounts['debt_accounts'][account_name] = {'payment':$de_items[i][1],'balance':$ba_items[i][1],'rate':$ra_items[i][1]};
				$debt_accounts[account_name] = {'payment':$de_items[i][1],'balance':$ba_items[i][1],'rate':$ra_items[i][1]};
			}
			for (i=0;i<$cb_items.length;i++) {
				var account_name = $cb_items[i][0]
				//$cash_accounts['cash_accounts'][account_name] = {'balance':$cb_items[i][1],'rate':$er_items[i][1]};
				$cash_accounts[account_name] = {'balance':$cb_items[i][1],'rate':$er_items[i][1]};
			}
			//var data = $.extend({},$this_name,$income_items,$basic_expenses,$misc_expenses,$debt_accounts,$cash_accounts);
			//console.log($this_name);
			//console.log(data);

			//var success_calls_count = 0;
			//console.log('here')
			//console.log($isBaseCase);
			//alert('wait');

		    this.caseViews[case_number].model.save({
		    	isBaseCase: (case_number == 0),
	    		name : $this_name,
		    	income_items: $income_items,
		    	basic_expenses: $basic_expenses,
		    	misc_expenses: $misc_expenses,
		    	debt_accounts: $debt_accounts,
		    	cash_accounts: $cash_accounts
	    	},
	    	{
	    		//wait:true,
	        	success: function(model){
	        		//success_calls_count += 1;
	        		//alert('yep');
	        		//console.log(model);
	        		//console.log(model.get('id'));
	        		//console.log(model.get('data'));
	        		console.log('success');
	        		/*
	        		console.log(success_calls_count);
	        		console.log(last_loop);
	        		if ($.type(callback) == 'function' && success_calls_count === last_loop) {
	        			alert('in here');
	        			//need to test for # of success calls because we only want to call the callback once. if we're saving multiple cases, it'll call this method once for every case
	        			callback();	
	        		}
	        		*/
	        	},
				error: function(){
				    console.log('error');
				}
	        });
        }
        if ($.type(callback) == 'function'){
        	callback();
        }
	    return false;
    }
});

var CaseView = Backbone.View.extend({
	caseTagsViews: null,
	className : 'scenario_column',
	caseNumber : 0,
    initialize: function(){

    	this.isBaseCase = this.options.isBaseCase;
    	//console.log(this.isBaseCase);
    	if (this.isBaseCase == false) {
    		this.caseNumber = _.uniqueId();
    	}
    	//console.log(this.caseNumber);
    	//console.log(this.model);
    	this.parentView = this.options.parentView;
    	this.parentView.caseViews[this.caseNumber] = this;
    	console.log('there');
    	console.log(this.parentView.model);
    	this.parentView.model.add(this.model); //add the new model to the collection
    	console.log('here');
    	//this.income_items = this.model.get('income_items');
    	/*
    	this.name = this.model.get('name');
		this.income_items = this.model.get('income_items');
		this.basic_expenses = this.model.get('basic_expenses');
		this.misc_expenses = this.model.get('misc_expenses');
		this.debt_accounts = this.model.get('debt_accounts');
		this.cash_accounts = this.model.get('cash_accounts');
		this.data = this.model.get('data');
		*/
		_.bindAll(this, 'render');
		this.listenTo(this.model, 'change', this.render);
		this.listenTo(this.model, 'destroy', this.close);
		//console.log(this.model);

        this.render();

        //console.log(this.model);
    },
    render: function(){
    	//console.log(this.isBaseCase);
    	//alert('render called');
    	//console.log(this);
    	console.log(this.model);
    	//console.log(this.income_items);
    	//console.log(this.basic_expenses);
    	//console.log(this.caseNumber);
    	//console.log(this.model.get('name'));
    	//console.log(this.model.get('income_items'));
    	var context = {caseNumber:this.caseNumber,
    				name:this.model.get('name'),
	        		income_items:this.model.get('income_items'),
	        		basic_expenses:this.model.get('basic_expenses'),
	        		misc_expenses:this.model.get('misc_expenses'),
	        		debt_accounts:this.model.get('debt_accounts'),
	        		cash_accounts:this.model.get('cash_accounts')};
	    console.log(context);
		/*	        		
	    var context = {caseNumber:this.caseNumber,
    				name:this.name,
	        		income_items:this.income_items,
	        		basic_expenses:this.basic_expenses,
	        		misc_expenses:this.misc_expenses,
	        		debt_accounts:this.debt_accounts,
	        		cash_accounts:this.cash_accounts};
		*/
    	if (this.isBaseCase) {
        	var template = _.template( $("#base_case_template").html(), context );
        	this.$el.html( template );
        } else {
        	var template = _.template( $("#other_case_template").html(), context );
        	$selector = $('#case'+this.caseNumber);
        	//console.log(_.size($selector));
        	if (_.size($selector)>0){
        		//$selector.html( template );
        		this.$el.html(template);
        	}
        	else {
        		this.$el.before( template );
        		this.$el = $('#case'+this.caseNumber);
        		//this.caseTagsViews.push(new CaseTagsView({name:this.model.get('name'),caseNumber:this.caseNumber}));	
        		this.caseTagsView = new CaseTagsView({name:this.model.get('name'),caseNumber:this.caseNumber});
        	}
        }
    },
    close: function(){
    	this.caseTagsView.remove();
    	this.remove();
    	delete this.parentView.caseViews[this.caseNumber];
    }
});

var CaseTagsView = Backbone.View.extend({
	initialize: function(){
		this.name = this.options.name;
		this.caseNumber = this.options.caseNumber;
		this.render();
	},
    render: function(){
    	var template = _.template( $("#case_tag_template").html(), {name:this.name,caseNumber:this.caseNumber} );
        //this.$el.before( template );
        $('.dropdown').before(template);
        this.$el = $('#case'+this.caseNumber+'_tag');
    }
});


var Table1View = Backbone.View.extend({
	currentValue : 'net_worth',
    initialize: function(){
    	console.log('table1view');
    	_.bindAll(this, 'render');
		this.listenTo(this.model, 'add change destroy', this.render);
		//this.listenTo(this.model, 'destroy', this.close);
        this.render();
    },
    render: function(){
    	var value = this.currentValue;
    	console.log('yep');
    	console.log(this.model);

    	var template = _.template( $("#table_1_template").html(), {value:value,models:this.model} );
        this.$el.html( template );
    },
    events: {
        "change #table_1_menu": "update"
    },
    update: function( event ){
    	var value = event.currentTarget.value;
    	this.currentValue = value;
        this.render();
    }
});

var Chart1View = Backbone.View.extend({
	fillColors: ["rgba(151,187,205,0.5)", "rgba(153,230,153, 0.5)"],
	strokeColors: ["rgba(151,187,205,1)", "rgba(153,230,153,1)"],
	pointColors: ["rgba(151,187,205,1)", "rgba(153,230,153,1)"],
	pointStrokeColors: ["#fff", "#fff"],
    initialize: function(){
    	console.log('chart1view');
    	var labels_all = Object.keys(this.model.at(0).get('data')['net_worth']);
    	var labels = [];
    	for (j=0;j<labels_all.length;j++){
    		labels.push(j);
			j+=11;
		}
		this.labels = labels;
    	
    	_.bindAll(this, 'render');
		this.listenTo(this.model, 'add change destroy', this.render);
        this.render();
    },
    render: function(){
    	var datasets = [];
    	var legend_names = [];
    	
    	console.log(this.model);
    	console.log(this.model.length);
    	for (i=0;i<this.model.length;i++){
    		var data_dict = this.model.at(i).get('data')['net_worth'];
    		var data_list = []
    		for (j=0;j<(this.labels.length * 12);j++){
    			data_list.push(data_dict[j]);
    			j+=11;
    		}
    		var this_dataset = {
    			fillColor : this.fillColors[i],
    			strokeColor : this.strokeColors[i],
    			pointColor : this.pointColors[i],
    			pointStrokeColor : this.pointStrokeColors[i],
    			data : data_list
    		};
    		datasets.push(this_dataset);
    		legend_names.push(this.model.at(i).get('name'));
    	}



    	var template = _.template( $("#chart1_legend_template").html(), {names:legend_names, colors:this.strokeColors} );
        this.$el.html( template );

        //console.log($("#chart1"));
        //console.log($("#chart1").get(0));

        var ctx = $("#chart1_canvas").get(0).getContext("2d");
        //console.log(this.datasets);

		var Chart1_data = {
			labels: this.labels,
			datasets : datasets
		};
		new Chart(ctx).Line(Chart1_data,{bezierCurve : false});
    }
});

</script>


<script type="text/javascript">
$(document).ready(function() {
	Number.prototype.formatMoney = function(c, d, t){
	var n = this, c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" : "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
	   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	 };

	$global_fieldnames = []

	var caseCollection = new CaseCollection();
	var parentView = new ParentView({el:$("#input"), model: caseCollection});
	
	
	
	/*
	var parentView = null;
	var initializations0 = function() {
		parentView = new ParentView({el:$("#input"), model: caseCollection});
		return true;
	}
	var initializations1 = function() {
		var table1view = new Table1View({el:$('#table1'), model: caseCollection});
		var chart1view = new Chart1View({el:$('#chart1'), model: caseCollection});
	}
	var cp1 = initializations0()
	if (cp1){
		console.log('initializations1');
		initializations1();
	}
	*/

	$('#back_to_output').live('click',function(){
		$('#input').addClass('hidden');
		$('#output').removeClass('hidden');
		$(this).addClass('hidden');
		$('#back_to_input').removeClass('hidden');
	});
	$('#back_to_input').live('click',function(){
		$('#output').addClass('hidden');
		$('#input').removeClass('hidden');
		$(this).addClass('hidden');
		$('#back_to_output').removeClass('hidden');
	});
	$('#new_scenario').live('click', function(){
		$case_name = prompt('Enter new scenario name: ');
		var new_case = new CaseView({ 
			el: $("#case_target"), 
			isBaseCase:false, 
			model: new Case({
				name:$case_name,
				data:caseCollection.models[0].get('data')}
			), parentView:parentView });
		$('.dropdown-toggle').click();
    	return false;
	});

	var buildExistingCases = function(input_id) {
		var this_model = new Case({id: input_id });
		this_model.fetch({
			success: function(){
				var new_case = new CaseView({ el: $("#case_target"), isBaseCase:false, model: this_model, parentView:parentView });
			}
		});
		
	}
	{% for this_id in other_ids %}
		buildExistingCases({{this_id}});
	{% endfor %}





	$('#new_in').live('click',function(){
		//while (true) {
		//	$fieldname = prompt('Enter Item Name');
		//	if ($fieldname != null && $fieldname != '') {
		//		if($global_fieldnames.indexOf($fieldname.toLowerCase()) == -1) {

		/*
				}
				else {
					alert('You already have an item with the name \"'+$fieldname+'\".\r\nPlease use a new, unique name.');
				}
			}
			else {
				break;
			}	
		}
		*/
		//$('#save_input_data').click();
		//console.log(this);
		parentView.save_input_data(function() {
			$fieldname = prompt('Enter Item Name');
			console.log(_.size(parentView.caseViews));
			//console.log(parentView.caseViews);
			//console.log(parentView);

			//for (i=0;i< _.size(parentView.caseViews);i++) {
			for (var case_number in parentView.caseViews){
				//alert('in');
				//console.log(parentView.caseViews[i].model);
				//var in_items = _.clone(parentView.caseViews[i].model.get('income_items'));
				var in_items = parentView.caseViews[case_number].model.get('income_items');
				//console.log(in_items);
				in_items[$fieldname] = '';
				console.log(in_items);
				parentView.caseViews[case_number].model.set({income_items:in_items});
				console.log(parentView.caseViews[case_number].model.get('income_items'));
				Case.prototype.defaults.income_items = in_items;
				console.log('ok');
				parentView.caseViews[case_number].model.trigger('change');
				//console.log(parentView.caseViews[i].model);
				//var key = 'income_items.'+$fieldname;
				//parentView.caseViews[i].model.set({key:''});
				//parentView.caseViews[i].model.save({income_items:in_items});
				//$('#save_input_data').click();
				//console.log(parentView);
				//console.log(parentView.caseViews);
				
				//console.log(parentView.caseViews[i].model);
				//parentView.caseViews[i].model.trigger('change');
				//$('#save_input_data').click();
			}
		});
	});
	$('#new_be').live('click',function(){
		parentView.save_input_data(function() {
			$fieldname = prompt('Enter Item Name');
			for (var case_number in parentView.caseViews){
				var be_items = parentView.caseViews[case_number].model.get('basic_expenses');
				be_items[$fieldname] = '';
				parentView.caseViews[case_number].model.set({basic_expenses:be_items});
				Case.prototype.defaults.basic_expenses = be_items;
				parentView.caseViews[case_number].model.trigger('change');
			}
		});
	});
	$('#new_me').live('click',function(){
		parentView.save_input_data(function() {
			$fieldname = prompt('Enter Item Name');
			for (var case_number in parentView.caseViews){
				var me_items = parentView.caseViews[case_number].model.get('misc_expenses');
				me_items[$fieldname] = '';
				parentView.caseViews[case_number].model.set({misc_expenses:me_items});
				Case.prototype.defaults.misc_expenses = me_items;
				parentView.caseViews[case_number].model.trigger('change');
			}
		});
	});
	$('#new_da').live('click',function(){
		parentView.save_input_data(function() {
			$fieldname = prompt('Enter Item Name');
			for (var case_number in parentView.caseViews){
				var accounts = parentView.caseViews[case_number].model.get('debt_accounts');
				accounts[$fieldname] = {'payment':'','balance':'','rate':''};
				parentView.caseViews[case_number].model.set({debt_accounts:accounts});
				Case.prototype.defaults.debt_accounts = accounts;
				parentView.caseViews[case_number].model.trigger('change');
			}
		});
	});
	$('#new_ca').live('click',function(){
		parentView.save_input_data(function() {
			$fieldname = prompt('Enter Item Name');
			for (var case_number in parentView.caseViews){
				var accounts = parentView.caseViews[case_number].model.get('cash_accounts');
				accounts[$fieldname] = {'balance':'','rate':''};
				parentView.caseViews[case_number].model.set({cash_accounts:accounts});
				Case.prototype.defaults.cash_accounts = accounts;
				parentView.caseViews[case_number].model.trigger('change');
			}
		});
	});

	$('#delete_in').live('click',function(){
		$fieldname = $(this).next().html();
		for (var case_number in parentView.caseViews){
			var in_items = parentView.caseViews[case_number].model.get('income_items');
			//console.log(in_items);
			delete in_items[$fieldname];
			console.log(in_items);
			parentView.caseViews[case_number].model.set({income_items:in_items});
			console.log(parentView.caseViews[case_number].model.get('income_items'));
			Case.prototype.defaults.income_items = in_items;
			console.log('ok');
			parentView.caseViews[case_number].model.trigger('change');
		}
	});
	$('#delete_be').live('click',function(){
		$fieldname = $(this).next().html();
		for (var case_number in parentView.caseViews){
			var be_items = parentView.caseViews[case_number].model.get('basic_expenses');
			delete be_items[$fieldname];
			parentView.caseViews[case_number].model.set({basic_expenses:be_items});
			Case.prototype.defaults.be_items = be_items;
			parentView.caseViews[case_number].model.trigger('change');
		}
	});
	$('#delete_me').live('click',function(){
		$fieldname = $(this).next().html();
		for (var case_number in parentView.caseViews){
			var me_items = parentView.caseViews[case_number].model.get('misc_expenses');
			delete me_items[$fieldname];
			parentView.caseViews[case_number].model.set({misc_expenses:me_items});
			Case.prototype.defaults.me_items = me_items;
			parentView.caseViews[case_number].model.trigger('change');
		}
	});
	$('#delete_da').live('click',function(){
		$fieldname = $(this).next().html();
		for (var case_number in parentView.caseViews){
			var accounts = parentView.caseViews[case_number].model.get('debt_accounts');
			delete accounts[$fieldname];
			parentView.caseViews[case_number].model.set({debt_accounts:accounts});
			Case.prototype.defaults.debt_accounts = accounts;
			parentView.caseViews[case_number].model.trigger('change');
		}
	});
	$('#delete_ca').live('click',function(){
		$fieldname = $(this).next().html();
		for (var case_number in parentView.caseViews){
			var accounts = parentView.caseViews[case_number].model.get('cash_accounts');
			delete accounts[$fieldname];
			parentView.caseViews[case_number].model.set({cash_accounts:accounts});
			Case.prototype.defaults.cash_accounts = accounts;
			parentView.caseViews[case_number].model.trigger('change');
		}
	});

	$('.delete_case').live('click',function() {
		$case_number = $(this).attr('data-id');
		//$('#case'+$case_id).remove();
		//$('#case'+$case_id+'_tag').remove();
		//console.log(parentView.caseViews[$case_id].model);
		//console.log($case_id);
		parentView.caseViews[$case_number].model.destroy({success:function(){console.log('destroyed')}});
		//delete parentView.caseViews[$case_id];
		//$global_case_count -= 1;
	});


});

</script>

{% endblock %}

{% block main %}

<!--
	<div style="margin-bottom: 40px;"><a class="btn btn-info" id="show_output">Show Output</a></div>
	input
	<div style="margin-bottom: 40px;"><a class="btn btn-info" id="save_data">Save Data</a></div> 
	<div style="margin-bottom: 40px;"><a class="btn btn-info" id="get_data">Get Data</a></div>
	<div style="margin-bottom: 40px;"><a class="btn btn-info" id="delete_data">Delete Data</a></div>
-->

<div id="input">
	
</div>

<div id="output" class="hidden">
	<div class="content_box">
		
		<div id="table1"></div>

		<div id="chart1">
			<canvas id="chart1_canvas" width="800" height="400"></canvas>
			<div id="chart1_legend"></div>
		</div>
</div>


{% endblock %}