<html>
<head>
</head>
<body>

	<table>
		<thead>
			<th></th>
			{% for k,v in s['income']['items']['Income'].iteritems() %}
				<th style="border: 1px solid black">
					{{k}}
				</th>
			{% endfor %}
		</thead>
		<tr>
			<td>Income</td>
			{% for k,v in s['income']['items']['Income'].iteritems() %}
				<td style="border: 1px solid black">
					{{v}}
				</td>
			{% endfor %}
		</tr>
		{% for section in s['expenses']['sections'] %}
		<tr><td>&nbsp;</td></tr>
		<tr><td><strong>{{section}} Expenses</strong></td></tr>
		
			
			{% for k,v in s['expenses']['sections'][section]['items'].iteritems() %}
				<tr>
					<td>{{k}}</td>
					{% for k2,v2 in v.iteritems() %}
						<td style="border: 1px solid black">
							{{v2}}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
			<tr>
				<td><strong>Total {{section}} Expenses</strong></td>
			{% for k,v in s['expenses']['sections'][section]['total'].iteritems() %}
				<td style="border: 1px solid black;font-weight:bold;">
					{{v}}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		<tr>
			<td><strong>Total Expenses</strong></td>
			{% for k,v in s['expenses']['total'].iteritems() %}
				<td style="border: 1px solid black;font-weight:bold;">
					{{v}}
				</td>
			{% endfor %}
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td><strong>Net Income</strong></td>
			{% for k,v in s['net_income'].iteritems() %}
				<td style="border: 1px solid black;font-weight:bold;">
					{{v}}
				</td>
			{% endfor %}
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td><strong>Cash and Investments</strong></td></tr>


		{% for section in s['cash_accounts']['accounts'] %}
		<tr><td>&nbsp;</td></tr>
		<tr><td><strong>{{section}} Account</strong></td></tr>
		
			
			{% for k,v in s['cash_accounts']['accounts'][section]['items'].iteritems() %}
				<tr>
					<td>{{k}}</td>
					{% for k2,v2 in v.iteritems() %}
						<td style="border: 1px solid black">
							{{v2}}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		{% endfor %}
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td><strong>Total Cash/Investment Assets</strong></td>
			{% for k,v in s['cash_accounts']['total'].iteritems() %}
				<td style="border: 1px solid black;font-weight:bold;">
					{{v}}
				</td>
			{% endfor %}
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td><strong>Debt</strong></td></tr>

		{% for section in s['debt_accounts']['accounts'] %}
		<tr><td>&nbsp;</td></tr>
		<tr><td><strong>{{section}} Debt</strong></td></tr>
		
			
			{% for k,v in s['debt_accounts']['accounts'][section]['items'].iteritems() %}
				<tr>
					<td>{{k}}</td>
					{% for k2,v2 in v.iteritems() %}
						<td style="border: 1px solid black">
							{{v2}}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		{% endfor %}
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td><strong>Total Debt Outstanding</strong></td>
			{% for k,v in s['debt_accounts']['total_debt'].iteritems() %}
				<td style="border: 1px solid black;font-weight:bold;">
					{{v}}
				</td>
			{% endfor %}
		</tr>
		<tr><td><strong>Debt Expense Summary</strong></td></tr>
		<tr><td>Interest Paid</td>
			{% for k,v in s['debt_accounts']['debt_expense_summary']['interest_paid'].iteritems() %}
				<td style="border: 1px solid black;">
					{{v}}
				</td>
			{% endfor %}
		</tr>
		<tr><td>Prinipal Paid</td>
			{% for k,v in s['debt_accounts']['debt_expense_summary']['principal_paid'].iteritems() %}
				<td style="border: 1px solid black;">
					{{v}}
				</td>
			{% endfor %}
		</tr>
		<tr><td><strong>Total Debt Expense</strong></td>
			{% for k,v in s['debt_accounts']['debt_expense_summary']['total_expense'].iteritems() %}
				<td style="border: 1px solid black;font-weight:bold;">
					{{v}}
				</td>
			{% endfor %}
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td><strong>Net Worth</strong></td>
			{% for k,v in s['net_worth'].iteritems() %}
				<td style="border: 1px solid black;font-weight:bold;">
					{{v}}
				</td>
			{% endfor %}
		</tr>

	</table>

</body>
</html>