html, body {
	height: 100%;
}

.header {
    background: #F7F7F7;
    box-shadow: 0 0 12px gray;
    margin-top: 0;
}
.header > h1 {
	display: inline-block;
	font-weight: normal;
	margin-left: 20px;
	font-size: 24pt;
	position: relative;
	top: 16px;
}
.header_menu {
	 float: right;
}
.form_container {
	height: 100%;
}
.form_side_divider {
	background: none repeat scroll 0 0 rgba(62, 110, 163, 0.73);
    margin-left: 75px;
    width: 2px;
    float: left;
    display: inline;
    height: 2600px;
}
.form_first_divider {
	background: rgba(204, 218, 227, 0.74);
    border: 1px solid #3D7FC9;
    border-left: 0;
    border-right: 0;
    height: 11px;
    
}
.form_second_divider {
	background: #295196;
    height: 4px;
    margin-top: 6px;
}
/*
.form_circle_group {
	display: inline-block;
    margin-right: 20%;
    position: absolute;
    top: 36px;
    right: 0;
}
.form_circle {
	border-radius: 46px;
    height: 46px;
    width: 46px;
    display: inline-block;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid #FF4933;
}
.form_circle_selected {
	background: #0770C6;
    border: 1px solid #002C64;
    box-shadow: 0 1px 3px 0 rgba(29, 29, 29, 0.843);
    color: white;
    font-weight: bold;
}
.form_circle > h1 {
	display: inline-block;
    font-size: 24pt;
    font-weight: normal;
    left: 14px;
    position: relative;
    top: -6px;
}
*/
.form_heading {
	background: white;
    color: #3C3C3C;
    font-size: 45px;
    font-weight: 100;
    left: -60px;
    margin: 40px 0;
    padding: 30px 0;
    position: relative;
    text-shadow: 0 1px 1px #363636;
}

.form_body {
	margin: 0 130px;
}

.form_section_links{
	font-size: 18pt;
    margin-top: 30px;
    text-align: center;
}
.form_section_link {
	display:inline-block;
	padding: 6px;
}
.form_section_link:hover {
	color: gray;
	cursor: pointer;
}
.form_section_link_selected {
	background: rgba(204, 218, 227, 0.74);
}

.form_section_header {
	color: #3F3F3F;
    font-size: 16pt;
    font-weight: normal;
    margin: 0;
    line-height: inherit;
}
.form_section_subheader {
	color: #7C7C7C;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 30px 24px;
}

.form_section_divider {
	background: #C1C1C1;
    height: 1px;
    margin: 30px 0;
}

.form_account_label {
	text-decoration: underline; 
	display: inline-block;
	font-size: 12pt;
}
.account > .input_type1 {
	margin-left: 36px;
}



label {
	display: inline-block;
	width: 140px;
	margin-right: 10px;
	font-size: 11pt;
}


/*
.new_field,
.new_debt_account,
.new_cash_account {
	margin-top: 20px;
}
*/

.icon-plus {
	margin-right: 8px;
}
.icon-remove {
	margin-right: 8px;
	position: relative;
	left: 4px;
}






.scenario_column {
     width: 152px; 
     border-right: 2px solid black; 
     float:left;
}


input.input_percentage {
     margin: 0 12px;
}

#new_scenario:hover {
    background: gray;
    cursor: pointer;
}
.case_tag{
     width: 148px; 
     border: 1px solid black; 
     border-bottom: 0; 
     border-radius: 12px 12px 0 0; 
     height: 50px;
     text-align: center; 
     box-shadow: 0 0 1px 1px #888888; 
     display: inline-block;
}
.case_tag h4 {
     margin-top: 16px;
     text-shadow: 0 1px 1px #888888;
}
#case0_tag {
    margin-left:180px; 
}

#table1 table td,
#table2 table td,
#debt_summary_table table td,
#expense_breakdown table td {
    border: 1px solid black;
    padding: 5px 10px;
}
.table_y_axis {
    font-weight: bold;
}

.hidden {
    display: none;
}

#input_table {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
}
#input_table input {
    margin: 0 16px;
    width: 80px;
}
#input_table th,
#input_table td {
    border: 1px solid black;
    padding: 8px;
}

.accordion li {
    list-style-type: none;
    position: relative;
    left: -16px;
}
/*
#input_accordion .collapsed {
    box-shadow: 0 0 4px gray;
}
.accordion-toggle {
    box-shadow: 0 0 4px gray;
}
*/

.input_item_label .close {
    float: left;
    margin-right: 16px;
}

.input_item_labels {
    display: inline-block;
    border-right: 1px solid black;
}
.input_item_label {
    display: inline-block;
    /*height: 36px;*/
    width:180px;
    padding-top: 4px;
    font-weight: bold;
    vertical-align: top;
}
.input_item_row {
    min-height: 30px;
    margin-bottom: 30px;
}

.input_item_sub {
    display: inline-block;
    max-width: 460px;
}

.input_section {
    display: inline-block;
    width: 264px;
    vertical-align: top;
    border-right: 1px solid black;
}
.input_item {
    margin: 0;
    display: inline-block;
    width: 480px;
    vertical-align: top;

}
.input_item input {
    margin: 0 4px;
    width: 80px;
}

.case_label {
    display: inline-block;
    font-size: 16px;
    text-shadow: 0 1px 1px #888888;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    height: 30px;
    width: 266px;
    margin-bottom: 10px;
}
.case_label .close {
    float: none;
    margin-right: 12px;
}
#case_label_add_scenario {
    width:200px;
}

.input_period {
    width: 105px;
    margin: 0;
    margin-right: 6px;
}

.icon-cog {
    font-size: 16px;
    margin-left: 6px;
    text-shadow: 0 1px 1px #363636;   
}
.icon-cog:hover {/*
    font-size: 28px;
    vertical-align: -4px;
    position: relative;
    right: 4px;
    cursor: pointer;
    */
    color:gray;
    text-decoration: none;
}

.accordion {
    width: 700px;
}
.change_input_type {
    display:inline-block;
    vertical-align:top;
    margin-top:4px;
    margin-right: 10px;
}

.custom_input_block {
    margin-bottom: 12px;
}

.content_box {
    padding: 10px 0;
    min-width: 960px;
    color: #636363;
}
.output_section_header {
    background: #E6F2F5;
    padding-left: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 30px 0;
}

.left_case_container {
    float: left;
    width: 48%;
    padding-right: 12px;
    border-right: 1px solid gray;
    padding-bottom: 40px;
    padding-left: 20px;
}
.right_case_container {
    float:right;
    width:47%;
    padding-bottom: 40px;
}

#net_worth_tables {
    margin-top: 60px;
    overflow: auto;
}
.right_case_container table,
.left_case_container table {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    /*border-collapse: separate;*/
}

.right_case_container table thead th,
.left_case_container table thead th {
    background-image: linear-gradient(to bottom, #EEEEEE, #DADADA);    
}
/*
.right_case_container table th:first-child,
.left_case_container table th:first-child {
    border-top-left-radius: 4px;
}
.right_case_container table th:last-child,
.left_case_container table th:last-child {
    border-top-right-radius: 4px;
}
.right_case_container table tr:last-child td:first-child,
.left_case_container table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}
.right_case_container table tr:last-child td:last-child,
.left_case_container table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}
*/

.right_case_container th,
.right_case_container td,
.left_case_container th,
.left_case_container td {
    border: 1px solid #CCCCCC;
    padding: 4px;
}


#cashflow_section {
    overflow: auto;
}
.case_name {
    text-align:center;
    text-decoration:underline;
    margin-bottom:20px;
}

.case_section_divider {
    background: none repeat scroll 0 0 #C1C1C1;
    height: 1px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}